.form {
    @apply px-1.5;

    .row {
        @apply mt-1 mb-1 mx-0.5;

        .input {
            @apply py-1.5 px-2.5 border border-slate-600 rounded space-x-2 flex items-center;

            input {
                @apply flex-grow;
            }
        }
    }
}
